body {
  margin: 0;
  font-family: Georgia, serif;
  background: linear-gradient(180deg, #4b1d6b, #2a083d);
  color: #000;
}

.title {
  color: white;
  padding: 20px;
}

.certificate {
  position: relative;
  background: #fff6d5;
  width: 900px;
  margin: 40px auto;
  padding: 60px 80px;
  border-radius: 30px;
  text-align: center;
}

.logo {
  position: absolute;
  top: 25px;
  left: 30px;
  height: 45px;
}

.certificate h2 {
  margin-top: 10px;
  font-size: 32px;
}

.certificate h2 span {
  color: #8a4fff;
}

.small {
  margin-top: 30px;
}

.name {
  font-size: 40px;
  color: #8a4fff;
  margin: 20px 0;
}

.role,
.since,
.approved {
  margin: 12px 0;
}

.approved {
  font-style: italic;
}

/* WIZARDS */
.wizard {
  position: absolute;
  bottom: 20px;
  height: 220px; /* ⬅️ ЗБІЛЬШЕНІ */
}

.wizard.left {
  left: 30px;
}

.wizard.right {
  right: 30px;
}

